PORT=3001
DATABASE_URL=postgresql://neondb_owner:npg_L8IKFxnCdZy4@ep-bitter-thunder-ao2rsr8s-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
OPENAI_API_KEY=AQ.Ab8RN6JKumdabnNtO8nSS9AU-O-dVQIyDZmvY4p_1HKp6hn0Qw
DEFAULT_USER_ID=00000000-0000-0000-0000-000000000001
